
@{
    ViewBag.Title = "EmployeeReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmployeeReport</h2>


@(Html.EJ().Grid<object>("FlatGrid")

    .Datasource((IEnumerable<object>)ViewBag.datasource)

    .AllowPaging()

    .AllowFiltering()

    .AllowSorting()

    .FilterSettings(d => d.FilterType(FilterType.FilterBar))

     .AllowSelection()
            .SelectionType(SelectionType.Multiple)
            .SelectionSettings(select => { select.SelectionMode(mode => { mode.AddMode(SelectionMode.Row); }); })

    .Columns(col =>

    {

        col.Field("FirstName").HeaderText("First Name").TextAlign(TextAlign.Right).Width(75).Add();

        col.Field("LastName").HeaderText("Last Name").Width(80).Add();

        col.Field("EmployeeID").HeaderText("Emp Number").Width(100).Add();

        col.Field("IsActive").HeaderText("Is Active").Width(100).Add();

        col.Field("LK_EmployeeTypesID").HeaderText("Role").Width(100).Add();

        col.Field("Lk_EmployeeTypes").HeaderText("Store").Width(100).Add();

        col.Field("StoreId").HeaderText("Store Name").Width(100).Add();








    })

)
